/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s infinite linear;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.gallery-item {
  width: 360px;
  /* height: 200px; */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
}

.form-input {
  width: 256px;
  height: 36px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 0;
  padding-left: 16px;
  border-color: #808080;
}

.form-input:hover {
  border-color: #000000;
}
.form-input:focus {
  border-color: #4e75ff;
}

.form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
}

.form-button:hover {
  background-color: #6c8cff;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* 2 homework */

.load-more-btn {
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4e75ff;
}

.loader {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.is-hidden {
  display: none;
}
